<div class="min-h-screen  p-6 bg-[#F5F5E9]">
    <div class="max-w-6xl mx-auto bg-white p-8 rounded-xl shadow-lg border border-[#D6BD98]">
        <h1 class="text-3xl font-bold mb-8 text-center text-[#1A3636]">Application Review</h1>

        <!-- Tab Navigation -->
        <div class="flex justify-center mb-6">
            <div class="flex space-x-12 text-lg font-semibold">
                <a [routerLink]="['/application-review-list']"
                    class="text-[#1A3636] border-b-4 border-[#1A3636] pb-1 hover:text-[#40534C]">Pending</a>
                <a [routerLink]="['/application-review-list-completed']"
                    class="text-[#40534C] hover:text-[#1A3636]">Reviewed</a>
            </div>
        </div>

        <!-- Results List -->
        <div *ngFor="let application of applications"
            class="mb-6 p-6 bg-[#B2C9AD] rounded-lg shadow-md border border-[#40534C]">
            <app-profile-icon [actualUserId]="application.userId"></app-profile-icon>
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-2xl font-semibold text-[#1A3636]">Application ID: {{ application.applicationId }}</h3>
                <h3 class="text-2xl font-semibold text-[#40534C]">Status: {{ application.applicationStatus }}</h3>
            </div>
            <div class="mb-4 text-lg text-[#1A3636]">
                <span class="font-semibold">User ID:</span> {{ application.userId }}
            </div>
            <div class="mb-4 text-lg text-[#1A3636]">
                <span class="font-semibold">Vacancy ID:</span> {{ application.vacancyId }}
            </div>
            <div class="mb-4 text-lg text-[#1A3636]">
                <span class="font-semibold">Submitted on:</span> {{ application.submissionDate | date: 'longDate' }}
            </div>
            <div class="flex justify-between items-center">
                <button [routerLink]="['/vacancy', application.vacancyId]"
                    class="px-6 py-2 bg-[#1A3636] text-[#D6BD98] rounded-lg font-medium hover:bg-[#40534C] focus:outline-none">
                    View Vacancy
                </button>
                <button [routerLink]="['/application-review', application.applicationId]"
                    class="px-6 py-2 bg-[#1A3636] text-[#D6BD98] rounded-lg font-medium hover:bg-[#40534C] focus:outline-none">
                    Review
                </button>
            </div>
        </div>
    </div>
</div>