.carousel-container {
    position: relative;
}

.carousel-container .absolute {
    position: absolute;
}

.carousel-container span {
    transition: background-color 0.3s;
}

.carousel-container {
    background-color: #D6BD98;
}


@keyframes colorToggle {
    0% {
        color: white;
    }

    50% {
        color: #D6BD98;
    }

    100% {
        color: white;
    }
}

.color-toggle p {
    animation: colorToggle 1s infinite;
    /* 1 second duration, repeats infinitely */
}