<div class="min-h-screen bg-[#F5F5E9] p-6">
    <div class="max-w-6xl mx-auto bg-white p-6 rounded-xl shadow-lg border border-[#D6BD98]">


        <h1 class="text-2xl font-bold my-6 text-center text-[#1A3636]">Training Programs</h1>

        <div class="flex flex-col m-6 justify-center items-center gap-6" *ngFor="let tp of trainingPrograms">
            <div class="bg-[#B2C9AD] p-8 rounded-lg border border-[#40534C] shadow-lg max-w-5xl w-full">
                <!-- Box Title -->
                <div class="flex justify-between border-b border-[#677D6A] pb-4">
                    <div class="flex gap-6">
                        <svg class="w-12 h-12 text-[#40534C]" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                            <g>
                                <path opacity="0.48"
                                    d="M6 8.58268V20.8601C6.00024 20.8973 6.01541 20.9329 6.04222 20.9591C6.06902 20.9853 6.10528 21 6.14307 21H11.2988C11.3367 21 11.3731 20.9852 11.4 20.9588C11.4268 20.9324 11.4419 20.8965 11.4419 20.8592V13.6584C11.4418 13.6211 11.4268 13.5853 11.4 13.559L6.24428 8.4832C6.22429 8.46349 6.1988 8.45006 6.17105 8.44462C6.1433 8.43917 6.11453 8.44194 6.08838 8.45259C6.06224 8.46324 6.03988 8.48128 6.02415 8.50443C6.00842 8.52759 6.00001 8.55482 6 8.58268ZM7.2568 12.1294H8.22718C8.27991 12.1294 8.32265 12.2289 8.32265 12.3516V14.6099C8.32265 14.7327 8.27991 14.8321 8.22718 14.8321H7.2568C7.20407 14.8321 7.16133 14.7327 7.16133 14.6099V12.3516C7.16133 12.2289 7.20407 12.1294 7.2568 12.1294Z"
                                    fill-opacity="0.8" fill="#898989"></path>
                            </g>
                        </svg>
                        <div>
                            <h2 class="text-2xl font-semibold text-[#1A3636] hover:text-[#40534C] cursor-pointer">
                                {{ tp.title }}
                            </h2>
                            <h2 class="text-xl text-[#40534C]">{{ tp.type }}</h2>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg text-[#1A3636]"><span class="font-bold">Trainer: </span>{{ tp.trainer }}</h3>
                        <h3 class="text-lg text-[#1A3636]"><span class="font-bold">Location: </span>{{ tp.location }}
                        </h3>
                    </div>
                </div>

                <!-- Box Content -->
                <div class="text-lg text-[#1A3636] mb-4 border-b border-[#677D6A] py-4">
                    <span class="font-semibold">Job Description</span>
                    <br>
                    {{ tp.content }}
                </div>

                <!-- Box Actions -->
                <div class="flex justify-between items-center">
                    <div class="rounded-lg px-4 py-2 bg-[#677D6A] text-[#D6BD98]">
                        Date: {{ tp.startDate | date: 'longDate' }} - {{ tp.endDate | date: 'longDate' }}
                    </div>
                    <button [routerLink]="['/vacancy', tp.vacancyId]"
                        class="px-6 py-2 bg-[#1A3636] text-[#D6BD98] rounded-lg hover:bg-[#40534C]">
                        View Vacancy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>